@model IEnumerable<Kindergarten_Management_System.Models.Application>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-responsive-sm table-striped my-4">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LegalGuardian)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LegalGuardian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @item.Offer
            </td>
            <td>
                <a class="btn btn-info mr-2" asp-action="Details" asp-route-id="@item.ApplicationId">Details</a>
                <a class="btn btn-danger confirmDeletion" asp-action="Delete" asp-route-Id="@item.ApplicationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (ViewBag.TotalPages > 1)
{
    <div class="d-flex w-100 justify-content-center">
        <pagination page-count="@ViewBag.TotalPages" page-target="/admin/applications"
            page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange">
        </pagination>
    </div>
}
