@model Kindergarten_Management_System.Models.ViewAllocationsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.BirthDate.Date)
        </dd>
    </dl>
</div>
<hr />
<h2>@Model.Employee.FullName -  Leave allocations</h2>
<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        @foreach (var item in Model.LeaveAllocations)
        {
            <li class="list-group-item">
                <h6>
                    @item.LeaveType.Name <span class="badge badge-secondary">@item.NumberOfDays</span>
                </h6>
            </li>
        }
    </ul>
</div>
<br />
<div>
    <a class="btn btn-info" asp-action="ListEmployees">Back to List</a>
</div>