<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kindergarten Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" target="_blank">Kindergarten</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="btn btn-success m-2" asp-area="Admin" asp-controller="Home" asp-action="Index">
                                        Admin Panel
                                    </a>
                                </li>
                            }

                            @if (User.IsInRole("Employee"))
                            {
                                <li class="nav-item">
                                    <a class="btn btn-success m-2" asp-area="Employee" asp-controller="Home" asp-action="Index">
                                        Employee Panel
                                    </a>
                                </li>
                            }

                            @if (User.IsInRole("Student"))
                            {
                                <li class="nav-item">
                                    <a class="btn btn-success m-2" asp-area="Student" asp-controller="Home" asp-action="Index">
                                        Student Panel
                                    </a>
                                </li>
                            }

                            <li class="nav-item">
                                <a class="btn btn-danger m-2" asp-area="" asp-controller="Account" asp-action="Logout">
                                    Log out
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ml-1">
                                <a class="btn btn-success my-2" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }

                    </ul>
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Users
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">All Users</a>

                                <a class="nav-link text-dark" asp-controller="Users" asp-action="Employees">Employees</a>

                                <a class="nav-link text-dark" asp-controller="Users" asp-action="Students">Students</a>

                                <div class="dropdown-divider"></div>

                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Account" asp-action="RegisterEmployee">Register Employee</a>

                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Account" asp-action="RegisterStudent">Register Student</a>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Roles" asp-action="Index">Roles</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_NotificationPartial" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        @if (@DateTime.Now.Year == 2022)
        {
            <div class="container">
                &copy; 2022 - Kindergarten Management System - <h6 class="badge badge-secondary">Powered by ASGARD™</h6>
            </div>
        }
        else
        {
            <div class="container">
                &copy; 2022 - @DateTime.Now.Year - Kindergarten Management System - <h6 class="badge badge-secondary">Powered by ASGARD™</h6>
            </div>
        }

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
