@model IEnumerable<HomeWork>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Date Created

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.Order.Day/@item.Order.Month/@item.Order.Year
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.HomeWorkId">Details</a>
                <a class="btn btn-danger confirmDeletion" asp-action="Delete" asp-route-Id="@item.HomeWorkId">Delete</a>
            </td>
          
        </tr>
}
    </tbody>
</table>

@if (ViewBag.TotalPages > 1)
{
    <div class="d-flex w-100 justify-content-center">
        <pagination page-count="@ViewBag.TotalPages" page-target="/admin/homeworks"
            page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange">
        </pagination>
    </div>
}
