@model IEnumerable<Kindergarten_Management_System.Models.HomeWorkSub>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="~/css/funside.css" />
<span style="font-size:2.5rem; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" class="title-word title-word-1 d-flex justify-content-center">Homework submission</span>




<table id="example3" class="hover cell-border stripe table table-responsive-sm">
    <thead style="background-color:cadetblue; ">
        <tr>
            <th>
                Homework
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                Date Delivered
            </th>
            <th class="no-sort  d-flex justify-content-center"> Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                @item.HomeworkName
            </td>
            <td>
                @item.Subject
            </td>
            <td>
                @item.StudentName
            </td>

            @if(item.Grade == "0")
            {
                <td>
                   <span class="badge badge-warning">UNGRADED</span>
                </td>    
            }

            @if(item.Grade == "1")
            {
                <td>
                   <span class="badge badge-danger">@item.Grade / Fail</span>
                </td>    
            }

            @if(item.Grade != "0" && item.Grade != "1")
            {
                <td>
                   <span class="badge badge-success">@item.Grade</span>
                </td> 
            }

            <td>
                @item.Order.Day/@item.Order.Month/@item.Order.Year
            </td>

            <td class="pr-5 d-flex justify-content-end">
                <a class="btn btn-success mr-2" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info pr-2"></i>View Homework</a>
                
            </td>
        </tr>
        }
    </tbody>
</table>