@model IEnumerable<FunSide>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<table class="table table-responsive-sm table-striped my-4">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                Teacher Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @item.AppUser.FullName

            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.FunSideId">Details</a> 
                <a class="btn btn-danger confirmDeletion" asp-action="Delete" asp-route-Id="@item.FunSideId">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>

@if (ViewBag.TotalPages > 1)
{
    <div class="d-flex w-100 justify-content-center">
        <pagination page-count="@ViewBag.TotalPages" page-target="/admin/funsides"
            page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange">
        </pagination>
    </div>
}

