@model IEnumerable<Contact>

@{
    ViewData["Title"] = "Messages";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="~/css/funside.css" />
<span style="font-size:2.5rem; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" class="title-word title-word-1 d-flex justify-content-center">Messages</span>

<table id="example"  class="hover cell-border stripe">
    <thead style="background-color:cadetblue; ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th class="no-sort"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                <a class="btn btn-info mr-2" asp-action="Details" asp-route-id="@item.ContactId"><i class="fa-solid fa-circle-info"></i></a>
                <a class="btn btn-danger confirmDeletion" asp-action="Delete" asp-route-Id="@item.ContactId"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (ViewBag.TotalPages > 1)
{
    <div class="d-flex w-100 justify-content-center">
        <pagination page-count="@ViewBag.TotalPages" page-target="/admin/contacts"
            page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange">
        </pagination>
    </div>
}