@model Briefing

@{
    ViewData["Title"] = "Briefing Details";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="~/css/funside.css" />

<section class="mx-5" style="border-radius:1rem;">
    <div class="container p-1  ">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-12 col-xl-12 ">
                <div class="card" style="border-radius: 1rem; background-color:#E1EBEE; ">
                    <div class="col-md-12 text-center pt-5">
                        <h4 class="title">
                            <span class="title-word title-word-1">Briefing </span>
                            <span class="title-word title-word-2">Details </span>
                        </h4>
                    </div>
                    <div class="card-bodyy little-profile  mt-3">
                        <hr />
                        <dl class="row p-2">
                            <dt class="col-12 col-sm-6  greenColor  ">
                                Title:
                            </dt>
                            <dd class="col-12 col-sm-6  dd-text">
                                @Html.DisplayFor(model => model.Title)
                            </dd>
                            <dt class="col-12 col-sm-6   greenColor ">
                                @Html.DisplayNameFor(model => model.Content):
                            </dt>
                            <dd class="col-12 col-sm-6  dd-text">
                                @Html.Raw(Model.Content)
                            </dd>
                            <dt class="col-12 col-sm-6   greenColor">
                               Date Created:
                            </dt>
                            <dd class="col-12 col-sm-6 dd-text">
                                @Model.Order.Day/@Model.Order.Month/@Model.Order.Year
                            </dd>
                            
                        </dl>
                        <hr>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary " asp-action="Edit" asp-route-id="@Model.BriefingId">Edit<i class="fa-solid fa-pen pl-2"></i></a>
                            <a class="btn btn-info ml-3" asp-action="Index">Go Back<i class="fa-solid fa-circle-arrow-left pl-2"></i></a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>