@model IEnumerable<AppUser>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center;"><span class="greenColor">S</span>tud<span class="greenColor">e</span>nts</h1>

<p>
    <a  class="btn btn-outline-success" asp-controller="Account" asp-action="RegisterStudent">Register New</a>
</p>
<table class="table table-responsive-sm table-striped my-4">
    <thead class="table-dark">
        <tr>
            <th>
                Image
            </th>
            <th>
                Full Name
            </th>
            <th>
                Birth Date
            </th>
            <th>
                Assigned to
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.Email)
            </th>


            <th>
               Contact
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/media/studentpic/@item.StudentImage" width="50" height="50" style="border-radius: 100%;" />
            </td>
            <td>
                @item.FullName
            </td>
            <td>
                @item.BirthDate.Day/@item.BirthDate.Month/@item.BirthDate.Year
            </td>
            <td>
                <div class="form-group">
                    <select disabled style="-webkit-appearance: none; background-color: transparent; border: none" asp-for="@item.TeacherName" asp-items="@ViewBag.TeacherName" class="form-control">
                        <option value=" ">Choose a teacher</option>
                    </select>
                </div>
            </td>

            <td>
                @item.Email
            </td>
            <td>
                @item.PhoneNumber
            </td>
            <td>
                <a class="btn btn-primary mr-2" asp-action="AdminStudentEdit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-info mr-2" asp-action="StudentDetails" asp-route-id="@item.Id">Details</a>
            <a class="btn btn-danger confirmDeletion" asp-action="StudentDelete" asp-route-Id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@if (ViewBag.TotalPages > 1)
{
    <div class="d-flex w-100 justify-content-center">
        <pagination page-count="@ViewBag.TotalPages" page-target="/admin/users/students"
            page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange">
        </pagination>
    </div>
}
