@model IEnumerable<Kindergarten_Management_System.Models.FunSide>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/funside.css" />
<section class="container pt-3">
    <div class="row ">
        @foreach (var item in Model)
        {
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a asp-action="Details" asp-route-id="@item.FunSideId">
                    <div class="card text-white card-has-bg " style="background-image: url('https://images.pexels.com/photos/8422173/pexels-photo-8422173.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); ">

                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <p class="card-meta mb-2">KinderGarten</p>
                                <p><i class="far fa-clock"></i> @item.Order.Day/@item.Order.Month/@item.Order.Year</p>
                                <p class="card-title mt-0 "><span class="title-color7" style="font-size:1.5rem;">@Html.DisplayFor(modelItem => item.Title)</span></p>

                            </div>
                            <div class="card-footer">
                                <div class="media">
                                    <img class="mr-3 rounded-circle" src="~/media/employeepic/@item.AppUser.TeacherImage" alt="Generic placeholder image" style="max-width:50px">
                                    <div class="media-body">
                                        <h6 class="my-0  d-block" style="color:#0d0d0d!important; font-weight:bolder;">@item.AppUser.FullName</h6>
                                        <small style="color:#232b2b!important;font-weight:bold;">@item.AppUser.Title</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }

    </div>
    @if (ViewBag.TotalPages > 1)
    {
        <div class="d-flex w-100 justify-content-center">
            <pagination page-count="@ViewBag.TotalPages" page-target="/studentpanel/funsides"
                        page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange">
            </pagination>
        </div>
    }
</section>

