@model IEnumerable<Kindergarten_Management_System.Models.HomeWork>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-responsive-sm table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Date Created
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.Order.Day/@item.Order.Month/@item.Order.Year
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HomeWorkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HomeWorkId">Details</a> |
                <a asp-action="Delete" class="confirmDeletion" asp-route-id="@item.HomeWorkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (ViewBag.TotalPages > 1)
{
    <div class="d-flex w-100 justify-content-center">
        <pagination page-count="@ViewBag.TotalPages" page-target="/admin/users"
            page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange">
        </pagination>
    </div>
}
