@model AdminLeaveRequestViewVM

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<span style="font-size:2.5rem; color:darkslategray; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" class="title-word title-word-1 d-flex justify-content-center">Leave Requests</span>
<hr />
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center" style="background-color:#E1EBEE;">
                <h1 class="card-title  badge badge-info" style="font-size:1.2rem;"> @Model.TotalRequestes</h1>
                <h6 class="card-text"> @Html.DisplayNameFor(model => model.TotalRequestes)</h6>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center register-form-bg2">
                <h1 class="card-title badge badge-success " style="font-size:1.2rem;"> @Model.ApprovedRequestes</h1>
                <h6 class="card-text"> @Html.DisplayNameFor(model => model.ApprovedRequestes)</h6>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center" style="background-color:#FFD6D6; ">
                <h1 class="card-title  badge badge-danger" style="font-size:1.2rem;"> @Model.RejectedRequestes</h1>
                <h6 class="card-text"> @Html.DisplayNameFor(model => model.RejectedRequestes)</h6>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center" style="background-color:#F6FFD6;">
                <h1 class="card-title  badge badge-warning" style="font-size:1.2rem;"> @Model.PendingRequestes</h1>
                <h6 class="card-text"> @Html.DisplayNameFor(model => model.PendingRequestes)</h6>
            </div>
        </div>
    </div>
</div>

<table id="example5" class="hover cell-border stripe">
    <thead style="background-color:cadetblue; ">
        <tr>
            <th>Employee Name</th>
            <th>Start date</th>
            <th>End Date</th>
            <th>Leave type</th>
            <th>Date Requested</th>
            <th>Approval Time</th>
            <th>Status</th>
            <th class="no-sort">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestingEmployee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>
                <td>

                    @if (item.Approved == true)
                    {
                        <span class="badge badge-success p-2">APPROVED</span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge badge-danger p-2">REJECTED</span>
                    }
                    else
                    {
                        <span class="badge badge-warning p-2">PENDING</span>
                    }
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fa fa-file pr-2"></i>
                        Review
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
