@model IEnumerable<Kindergarten_Management_System.Models.FunSide>


    @{
        ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table table-responsive-sm table-striped">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    Date Created
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @item.Order.Day/@item.Order.Month/@item.Order.Year
                </td>
                <td>
                    <a class="btn btn-primary mr-2" asp-action="Edit" asp-route-id="@item.FunSideId">Edit</a>
                    <a class="btn btn-info mr-2" asp-action="Details" asp-route-id="@item.FunSideId">Details</a>
                    <a class="btn btn-danger confirmDeletion" asp-action="Delete" asp-route-Id="@item.FunSideId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>

    @if (ViewBag.TotalPages > 1)
    {
        <div class="d-flex w-100 justify-content-center">
            <pagination page-count="@ViewBag.TotalPages" page-target="/employeepanel/funsides"
                page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange">
            </pagination>
        </div>

    }
