@model EmployeeLeaveRequestViewVM

@{
    ViewData["Title"] = "MyLeave";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="~/css/funside.css" />

<span style="font-size:2.5rem; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:darkslategray;" class="d-flex justify-content-center pb-2">My Leave Allocations</span>
<div class="jumbotron"  style="background-color:cadetblue;">
    <div class="cardd" >
        <ul class="list-group list-group-flush">
            @foreach (var item in Model.LeaveAllocations)
            {
                <li class="list-group-item register-form-bg2" style="border-radius:1rem;">
                    <h6>@item.LeaveType.Name <span style="font-size:1.3rem;" class="badge badge-success p-2">@item.NumberOfDays</span>    </h6>
                </li>
            }
        </ul>
    </div>
</div>


<span style="font-size:2.5rem; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:darkslategray;" class=" d-flex justify-content-center">My Leave Records</span>

<table id="example6" class="hover cell-border stripe">
    <thead style="background-color:cadetblue; ">
        <tr>
            <th>
                Leave Type
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Date Requested
            </th>

            <th class="no-sort">
                Approval State
            </th>

            <th class="no-sort">
                Cancel Request
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested, new { @value = item.DateRequested.ToString("yyyy-mm-dd") })
                </td>

                <td>
                    @if (item.Approved == true)
                    {
                        <span class="badge badge-success p-2 ">APPROVED</span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge badge-danger p-2">REJECTED</span>
                    }
                    else
                    {
                        <span class="badge badge-warning p-2">PENDING</span>
                    }
                </td>

                <td>

                    @if (item.Approved == null)
                    {
                        <a asp-action="CancelRequest" class="btn btn-danger" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to cancel this request?')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>